# Task-1
# (a)

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n*factorial(n-1)
n = 5
x = factorial(n)
print(x)

120

# (b)

In [ ]:
def fibonacci(nth_term):
    if nth_term <= 0:
        #print("Invalid!! give a positive integer")
        return 0
    elif nth_term == 1:
        #print("fibonacci series upto",nth_term,":")
        return 1
    else:
        #print("fibonacci series upto",nth_term,":")
        return fibonacci(nth_term-1)+fibonacci(nth_term-2)
n = 6
x = fibonacci(n)
print(f"The {n}-th Fibonacci number is {x}")

The 6-th Fibonacci number is 8

# (c)

In [ ]:
def print_all_elements(arr,idx):
    if len(arr) > idx:
        print(arr[idx])
        print_all_elements(arr,idx+1)
my_array = [1, 2, 3, 4, 5]
x = print_all_elements(my_array,0)

1
2
3
4
5

# (d)

In [ ]:
def powerN(base,power):
    if power == 0:
        return 1
    elif power == 1:
        return base
    else:
        temp = powerN(base,int(power/2))
        if power % 2 == 0:
            return temp*temp
        else:
            return temp*temp*base
print(powerN(3, 1))  # Output: 3
print(powerN(3, 2))  # Output: 9
print(powerN(3, 3))  # Output: 27

3
9
27

# Task-2
# (a)

In [ ]:
def decimal_to_binary(n):
    if n == 0:
        return 0
    else:
        #n > 1
        return str(decimal_to_binary(n//2))+str(n % 2)

x = 20
dec = decimal_to_binary(x)
print(dec)

010100

# (b)

In [ ]:
class Node:
    def __init__(self,elem,next= None):
        self.elem = elem
        self.next = next
# def createLinkedList(arr):
#     head = Node(arr[0])
#     tail = head
#     for i in range(1,len(arr)):
#         n = Node(arr[i])
#         tail.next = n
#         tail = tail.next
#     return head
def sum_elem_of_linked_list(head):
    temp = head
    if head is None:
        return 0
    else:
        return temp.elem + sum_elem_of_linked_list(head.next)

head = Node(1)
head.next = Node(2)
head.next.next = Node(3)
head.next.next.next = Node(4)

total_sum = sum_elem_of_linked_list(head)
print("Sum of elements:", total_sum)

Sum of elements: 10

# (c)

In [ ]:
class Node:
    def __init__(self,elem,next= None):
        self.elem = elem
        self.next = next
def createLinkedList(arr):
    head = Node(arr[0])
    tail = head
    for i in range(1,len(arr)):
        n = Node(arr[i])
        tail.next = n
        tail = tail.next
    return head

def reverse(head):
    if head.next is None:
        print(head.elem)
    else:
        temp = reverse(head.next)
        print(head.elem)
lst = [10,20,30,40,50,60]
x= createLinkedList(lst)
reverse(x)

60
50
40
30
20
10

# Task-3

In [ ]:
def calculate_cards_required(height):
    if height == 0:
        return 0
    elif height == 1:
        return 8
    else:
        return 5 + calculate_cards_required(height-1)

# Example usage
height = 4  # Change this value for different heights
cards_required = calculate_cards_required(height)
print(f"For a house of height {height}, {cards_required} cards are required.")

For a house of height 4, 23 cards are required.

#Task-4
#(a)

In [ ]:
def printLine(n,i=0):
    if i == n:
        return n
    else:
        print(i+1,end=" ")
        printLine(n,i+1)
def printtriangle(n,i = 0):
    if i == n:
        printLine(n)
    else:
        printLine(i)
        print()
        printtriangle(n,i+1)
printtriangle(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# (b)

In [ ]:
def printLine(n,i=0):
    if i == n:
        print()
        return n
    else:
        print(i+1,end = "")
        printLine(n,i+1)
def printtriangle(n,i=0):
    if i == n:
        printLine(n)
    else:
        print(" "*(n-i),end = "")
        printLine(i)
        print()
        printtriangle(n,i+1)
printtriangle(5)

    1

   12

  123

 1234

12345

# Task-5

In [ ]:
import sys
sys.setrecursionlimit(10000)
class FinalQ:
    def print(self,array,idx):
        if(idx<len(array)):
            profit = self.calcProfit(array[idx])
            print(str(idx+1),". Investment: " ,array[idx] , " Profit",profit)
            self.print(array,idx+1)


    def calcProfit(self,investment):
        if investment <= 25000:
            return 0.0
        elif investment > 25000 and investment <= 100000:
            return  self.calcProfit(investment-1000) + 45
        elif investment > 100000:
            return  self.calcProfit(investment-1000) + 80
#Tester
array=[25000,100000,250000,350000]
f = FinalQ()
f.print(array,0)

1 . Investment:  25000  Profit 0.0
2 . Investment:  100000  Profit 3375.0
3 . Investment:  250000  Profit 15375.0
4 . Investment:  350000  Profit 23375.0

# Extra task

In [5]:
#task-1
def flattenList(given_list,output_list):
    if len(given_list) == 0:
        return output_list
    #first_elem = given_list[0]
    if type(given_list[0]) == int:
        output_list.append(given_list[0])
    elif type(given_list[0]) == list:
        flattenList(given_list[0],output_list)
    return flattenList(given_list[1:],output_list)
given_list = [1, [2, [3, [4], 5], 6], 7, 8, [9, [[10, 11], 12], 13], 14, [15, [16, [17]]]]
output_list = flattenList(given_list,[])
print(output_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]