In [ ]:
# Task 1
word = input ()
for idx in range (len(word)-1 ,-1 ,-1) :
    print(word[idx],end="")

CSE110
011ESC

In [ ]:
# Task 2
word = input()
rev_idx = int(input())
result = ""
for idx in range (rev_idx , -1, -1) :
    result += word[idx]
for idx in range (rev_idx+1 , len(word)) :
    result += word[idx]
print (result)

72418
4
81427

In [ ]:
# Task 3
word = input ()
not_binary = False
for char in word :
    if char!='0' and char!='1' :
        not_binary = True
        break
if not_binary == True :
    print("Not a Binary Number")
else :
    print("Binary Number")

5wz4fuffgj6
Not a Binary Number

In [ ]:
#Task 4
word = input()
if len(word)<4 :
    print(word)
elif len(word)>3 :
    if word.endswith('er') :
        print(word[:-2] + est)
    elif word.endswith('est') :
        print(word)
    else :
        print(word + 'er')

nigga
niggaer

In [ ]:
# Task 5
word = ""
for char in input("Enter a word :"):
  word = word + char
  print(word)

Enter a word :UTSHA
U
UT
UTS
UTSH
UTSHA

In [ ]:
# Task 6
word = input()
for char in word:
  print(char , ":" , ord(char))

Cse110
C : 67
s : 115
e : 101
1 : 49
1 : 49
0 : 48

In [ ]:
# Task 7
word = input ('Enter a string :')
var = ""
for char in word :
    change = ord(char)
    if change == ord("z") :
        var += "a"
    else :
        var += chr(change+1)
print (var)

Enter a string :xyzabc
yzabcd

In [ ]:
# Task 8
word = input('Enter a string :')
var = ""
for char in range (0,len(word)) :
    if char %2 != 0 :
        var += word[char]
print(var.upper())

Enter a string :string
TIG

In [ ]:
# Task 9
word = input('Enter a string :')
var = ""
for char in word :
    if var == "" or char != var[len(var)-1] :
        var += char
print(var)

Enter a string :AAABBBBCDDBBECE
ABCDBECE

In [ ]:
# Task 10
str1 = input('Enter a string :')
my_idx = -1
for idx in range(len(str1)) :
    if str1[idx] == "," and str1[idx+1] == " " :
        my_idx = idx
str2 = str1[:my_idx]
str3 = str1[my_idx+2:]
str4 = ""
longest = ""
shortest = ""
if len(str3)>len(str2) :
    longest = str3
    shortest = str2
else :
    longest= str2
    shortest = str3
for idx in range(len(shortest)) :
    str4 += str2[idx] + str3[idx]
str4 += longest[len(shortest):]
print(str4)

Enter a string :ABCDEF, ghij
AgBhCiDjEF

In [ ]:
# Task 11
i = 10
while(i >= -20):
     if(i < 0):
         test = " != "
         test = str(i//2) + test + str(int(i/2))
     else:
         test = " == "
         test = str(i//2) + test + str(int(i/2))
     print(test)
     i -= 5

5 == 5
2 == 2
0 == 0
-3 != -2
-5 != -5
-8 != -7
-10 != -10

In [ ]:
# Task 12
test = ""
i = 0
j = 0
k = 15
test = "-->"
while i < 5:
    j = k - 1
    k -= 1
    while j > 10:
       test = str(i + j) + "-->" + test
       print(test)
       j -= 1
    i += 1

14-->-->
13-->14-->-->
12-->13-->14-->-->
11-->12-->13-->14-->-->
14-->11-->12-->13-->14-->-->
13-->14-->11-->12-->13-->14-->-->
12-->13-->14-->11-->12-->13-->14-->-->
14-->12-->13-->14-->11-->12-->13-->14-->-->
13-->14-->12-->13-->14-->11-->12-->13-->14-->-->
14-->13-->14-->12-->13-->14-->11-->12-->13-->14-->-->

In [ ]:
# Task 13
test = ""
i = 5
j = 0
k = 15
while i< 10:
    k-=1
    j = k
    while j > 10:
        if (j % 2) == 0:
            test = "<--"
            test = str(test) + str(i) + str(2) + "-->" + str(int(j / 2))
        else:
            test = "-->"
            test = "-->" + str(int(i / 2)) + str(test) + str(j)
        print(test)
        j = j-1
    i+=1

<--52-->7
-->2-->13
<--52-->6
-->2-->11
-->3-->13
<--62-->6
-->3-->11
<--72-->6
-->3-->11
-->4-->11

In [ ]:
# Task 14
test = ""
i = 5
j = 0
k = 15
while (i< 10):
    k-=1
    j = k
    while (j > 10 ):
        if j % 2 == 0:
            test = "<--"
            test = test + str( i) + '3' + "-->" + str(j // 3)
        else:
            test = "-->"
            test = "-->" + str((i // 3)) + test + str(j)
        print(test)
        j -=1
    i+=1

<--53-->4
-->1-->13
<--53-->4
-->1-->11
-->2-->13
<--63-->4
-->2-->11
<--73-->4
-->2-->11
-->2-->11

In [ ]:
# Task 15
i=0
j=0
k=15
test = '<--cat'
while i < 5:
    k -= 1
    j = k
    while j > 10:
        if j % 2 == 0:
            test += '-->'
            test = test + str(i) + str(j // 2)
        else:
            test += '<--'
            test = test + str(i // 2) + str(j)
        print(test)
        j-=1
    i+=1

<--cat-->07
<--cat-->07<--013
<--cat-->07<--013-->06
<--cat-->07<--013-->06<--011
<--cat-->07<--013-->06<--011<--013
<--cat-->07<--013-->06<--011<--013-->16
<--cat-->07<--013-->06<--011<--013-->16<--011
<--cat-->07<--013-->06<--011<--013-->16<--011-->26
<--cat-->07<--013-->06<--011<--013-->16<--011-->26<--111
<--cat-->07<--013-->06<--011<--013-->16<--011-->26<--111<--111

In [ ]:
# Task 16
value = input('Enter a string :')
letter = input('Enter a letter :')

result = ''
has_char = False
for c in value:
    if c == letter:
        has_char = True
    else:
        result += c

if has_char==False and len(result) > 3:
    result = result[1:-1]

print(result)

Enter a string :tanjiro kamado
Enter a letter :a
tnjiro kmdo

In [ ]:
# Task 17
str1 = input('Enter a string :')
str2 = input('Enter the split character :')
res = ''
for idx in str1 :
    if idx == str2 :
        print(res)
        res = ''
    else :
        res += idx
print(res)

Enter a string :This-is-CSE110
Enter the split character :-
This
is
CSE110

In [ ]:
# Task 18
value = input('Enter a string :')
num = int(input('Enter a number :'))
if num%2==0 :
    value = value*(num*2)
    print(value)
else :
    value = value*(num*3)
    print(value)

Enter a string :CSE110
Enter a number :3
CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110

In [ ]:
# Task 19
input1 = input('Enter a string :')
input2 = ''
count = 0
for item in range(len(input1)):
    if input1[item] == " ":
        input2 += " "
    elif count%2 == 0 :
        input2 += input1[item].upper()
        count+=1
    else:
        input2 += input1[item].lower()
        count+=1
print(input2)

Enter a string :i love programming
I lOvE pRoGrAmMiNg