In [ ]:
# Task 1
numbers = []
for iteration in range (5):
    user_input = int(input('Please enter a number'))
    numbers.append(user_input)
    print("Numbers in the list:" , numbers)

Please enter a number3
Numbers in the list: [3]
Please enter a number5
Numbers in the list: [3, 5]
Please enter a number34
Numbers in the list: [3, 5, 34]
Please enter a number-11
Numbers in the list: [3, 5, 34, -11]
Please enter a number0
Numbers in the list: [3, 5, 34, -11, 0]

In [ ]:
# Task 2
list1 = input ('Enter a string list :')
list1 = list1[1:-1]
list2 = list1.split(", ")
my_list = []
for elem in list2:
    my_list.append(int(elem))
if len(my_list)>= 4 :
    print(my_list[2:-2])
else :
    print("Not possible")

Enter a string list :[1, 2, 3]
Not possible

In [ ]:
# Task 3
numbers = []
for iteration in range (5):
    user_input = int(input('Please enter a number :'))
    numbers.append(user_input)
print("Input data:" , numbers)
print("Printing values from the list in reverse order:")
numbers.reverse()
for elem in numbers:
    print(elem)

5
-5
100
1
0
Input data: [5, -5, 100, 1, 0]
Printing values from the list in reverse order:
0
1
100
-5
5

In [ ]:
# Task 4
list1 = input ('Enter a string list :')
list1 = list1[1:-1]
list2 = list1.split(", ")
my_list = []
for elem in list2:
    my_list.append(int(elem))
for item in range(len(my_list)):
    my_list[item]=my_list[item]**2
print(my_list)

Enter a string list :[1, 2, 3, 4, 5, 6, 7]
[1, 4, 9, 16, 25, 36, 49]

In [ ]:
# Task 5
given = ["hey", "there", "", "what's", "", "up", "", "?"]
output = []
for elem in given :
    if len(elem)>0 :
        output.append(elem)
print("Original list:",given)
print("Modified list:",output)

Original list: ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified list: ['hey', 'there', "what's", 'up', '?']

In [ ]:
# Task 6
list1 = input ('Enter a string list :')
list1 = list1[1:-1]
list2 = list1.split(", ")
my_list = []
index=0
for elem in list2:
    my_list.append(int(elem))
max = my_list[0]
for var in range (1,len(my_list)) :
    current = my_list[var]
    if current>max :
        max = current
        index=var
print("My list:",my_list)
print("Largest number in the list is",max,"which was found at index",index)

Enter a string list :"7, 13, 22, 10, 6, -11, 0"
My list: [7, 13, 22, 10, 6, -11, 0]
Largest number in the list is 22 which was found at index 2

In [ ]:
# Task 7
list_one = [1, 4, 7, 5]
list_two = [6, 1, 3, 9]
new_list = list_one[:-1] + list_two
print(new_list)

[1, 4, 7, 6, 1, 3, 9]

In [ ]:
# Task 8
list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_two = [10, 11, 12, -13, -14, -15, -16]
new_list = list_one + list_two
even=[]
odd=[]
for value in new_list:
    if(value%2==0):
        even.append(value)
print("Output for the above lists:",even)

Output for the above lists: [2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
# Task 9
var1 = input("Enter multiple numbers :")
var2 = 0
list1 = []
for char in range(len(var1)):
  if var1[char]==' ':
    list1.append(int(var1[var2:char]))
    var2=char+1
list1.append(int(var1[var2:len(var1)]))
print("Original list:",list1)
var3 = 0
for char in range(len(list1)):
  if list1[var3]%2==0:
    list1.remove(list1[var3])
  else:
    var3+=1
print("Modified list:",list1)

7 12 4 55 96 2 11 61 33 42
Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
Modified list: [7, 55, 11, 61, 33]

In [ ]:
# Task 10
list1 = input ('Enter a string list :')
list2 = list1.split(", ")
my_list = []
for elem in list2:
    my_list.append(int(elem))
print("Input list:",my_list)
new_list = []
for elem in my_list:
    if elem not in new_list:
        new_list.append(elem)
print("Modified list:",new_list)

Enter a string list :7, 7, 7, 1, 0, 3, 3, 55, 9
Input list: [7, 7, 7, 1, 0, 3, 3, 55, 9]
Modified list: [7, 1, 0, 3, 55, 9]

In [ ]:
# Task 11
List_one = [1, 4, 3, 2, 6]
List_two = [5, 6, 9, 8, 7]
flag = False
for elem in List_one:
  if elem in List_two:
    flag = True
    print(flag)
    break
if flag==False:
  print(flag)

True

In [ ]:
# Task 12
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
index1 = 0
index2 = 0
index1 = 1
while(index1<10):
  myList[index1] = index1+4
  index2 = 1
  while(index2<index1):
      myList[index1] = myList[index1] + myList[index2]-index1
      index2 = index2+1
  print(myList[index1])
  index1 = index1+1

5
9
15
25
43
77
143
273
531

In [ ]:
# Task 13
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
index1 = 0
index2 = 0
index1 = 1
while (index1 < 10):
  myList[index1] = index1 + 4
  index2 = 1
  while (index2 < index1):
    myList[index1] = myList[index1-1] - myList[index2-1] - index1
    index2 = index2 + 1
  print(myList[index1])
  index1 = index1 + 1

5
3
-5
-12
-12
-6
-1
-3
-11

In [ ]:
# Task 14
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while(index1<10):
  myList[index1] = index1+2
  index2 = 1
  while(index2<index1):
    myList[index1] = b[index1]+myList[index2]-index1
    index2 = index2+1
  print(myList[index1])
  index1 = index1+1

3
5
7
9
11
13
15
17
19

In [ ]:
# Task 15
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while (index1 < 10):
  myList[index1] = index1 + 1
  index2 = 1
  while (index2 < index1):
    myList[index1] = b[index2-1] + myList[index2] - index1
    index2 = index2 + 1
  print(myList[index1])
  index1 = index1 + 1

2
0
-1
-5
-11
-22
-40
-70
-119

In [ ]:
# Task 16
list1 = []
for var1 in range(7):
  num = int(input("Enter a number:"))
  list1.append(num)
lar_num = list1[0]
for var2 in list1:
  if var2 > lar_num:
    lar_num=var2
secl_num = list1[0]
idx = 0
for var1 in range(len(list1)):
  if secl_num<list1[var1]:
    if list1[var1]!=lar_num:
      secl_num=list1[var1]
      idx=var1
print("My list:",list1)
print("Second largest number in the list is",secl_num,"which was found at index",idx)

Enter a number:1
Enter a number:2
Enter a number:3
Enter a number:4
Enter a number:5
Enter a number:6
Enter a number:7
My list: [1, 2, 3, 4, 5, 6, 7]
Second largest number in the list is 6 which was found at index 5

In [ ]:
# Task 17
lst = []
for var1 in range(5):
  num = int(input("Enter a number:"))
  lst.append(num)
lar_num = lst[0]
sml_num = lst[0]
idxl = 0
for var1 in range(len(lst)):
  if lar_num<lst[var1]:
    lar_num=lst[var1]
    idxl=var1
idxs = 0
for var2 in range(len(lst)):
  if lst[var2]<sml_num:
    sml_num = lst[var2]
    idxs=var2
print("My list:",lst)
print("Smallest number in the list is",sml_num,"which was found at index",idxm)
print("Largest number in the list is",lar_num,"which was found at index",idxl)

Enter a number:7
Enter a number:13
Enter a number:-5
Enter a number:10
Enter a number:6
My list: [7, 13, -5, 10, 6]
Smallest number in the list is -5 which was found at index 2
Largest number in the list is 13 which was found at index 1

In [ ]:
# Task 18
list1 = input("").split(", ")
list2 = input("").split(", ")
list3 = []
for item in list1:
  if item in list2:
    list3.append(item)
print(list3)

1, 3, A, H, P
A, G, 1, P, O
['1', 'A', 'P']

In [ ]:
# Task 19
list_one = [1, 2 , 2, 4, 5, 5, 7, 99, 200, 303, 70]
list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
list_three = []
for var1 in list_one:
  if var1 not in list_three:
    list_three.append(var1)
for var2 in list_two:
  if var2 not in list_three:
    list_three.append(var2)
print("Output for the above two lists:",list_three)

Output for the above two lists: [1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

In [ ]:
# Task 20
lst = input('')
lst = lst.strip()
list1 = lst[1:-1]
print("Original data:",list1)
list1 = lst[1:-1].strip()
list2 = list1[1:-1]
list3 = list2.split(",")
final_list = []
for item in list3:
  final_list.append(int(item.strip()))
print("After removing square brackets:",list2)
print("Numbers in string format with extra white spaces:",list3)
print("Final data(numbers in list format):",final_list)

'1,        2 ,            3, 50, 4'
Original data: 1,        2 ,            3, 50, 4

ValueError: ignored

In [ ]:
# Task 21
list1 = input("Enter a string :").split(",")
list2 = []
list3 = []
for item1 in list1:
  list2.append(int(item1.strip()))
for item2 in list2:
  if item2 not in list3:
    list3.append(item2)
print("Given numbers in list:",list2)
print("List without any dupliacte values:",list3)

Enter a string :0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Given numbers in list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
List without any dupliacte values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]