In [ ]:
# Task 1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717, [1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [ ]:
# Task 2
tup1 = (10, 20, 24, 25, 26, 35, 70)
tup2 = tup1[2:-2]
print(tup2)

(24, 25, 26)

In [ ]:
# Task 3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print("Size of the tuple is :",len(book_info))
for idx in book_info :
    print(idx)

Size of the tuple is : 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
# Task 4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for item in book_info :
    category, name, votes = item
    print(name, "won the '" + category + "' category with", votes, "votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
# Task 5
tup1 = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
var1 = int(input('Enter a number :'))
counter = 0
for item in tup1 :
    if item == var1 :
        counter += 1
print(var1, "appears", counter, "times in the tuple")

Enter a number :10
10 appears 3 times in the tuple

In [ ]:
# Task 6
tup1 = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
list1 = tuple(tup1)
list2 = []
for elem in range(len(list1)-1, -1, -1) :
 list2.append(list1[elem])
print(tuple(list2))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
# Task 7
dict1 = {'Harry':15, 'Draco':8, 'Nevil':19}
dict2 = {'Ginie':18, 'Luna': 14}
dict3 = {}
dict3.update(dict1)
dict3.update(dict2)
print(dict3)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
# Task 8
str1 = input('Enter a dictionary :')
str1 = str1[1:-1]
list1 = str1.split(", ")
dict1 = {}
counter1 = 0
for item in list1 :
    list2 = item.split(":")
    key1 = list2[0][1:-1]
    value1 = int(list2[1])
    dict1[key1] = value1
    counter1 += 1
counter2 = 0
for value in dict1.values() :
    counter2 += value
avg1 = int(counter2/counter1)
print("Average is", avg1 )

Enter a dictionary :{'Jon': 100, 'Dan':200, 'Rob':30, 'Ned':110}
Average is 110

In [ ]:
# Task 9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
num1 = int(input('Enter a number :'))
dict1 = {}
for key in exam_marks:
    if exam_marks[key] >= num1:
        dict1 [key] = exam_marks[key]
print(dict1)

Enter a number :170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
# Task 10
dict1 = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
key1 = None
value1 = None
for item1,item2 in dict1.items():
    if key1 == None and value1 == None :
        key1 = item1
        value1 = item2
    else :
        if item2 > value1 :
            key1 = item1
            value1 = item2
print("The highest selling book genre is '" + str(key1) + "' and the number of books sold are", int(value1))

The highest selling book genre is 'mystery' and the number of books sold are 15

In [ ]:
# Task 11
str1 = input('Enter a string :')
dict1 = {}
for char in str1 :
    if char.isalpha() :
        char = char.lower()
        if char in dict1 :
            dict1[char] += 1
        else :
            dict1[char] = 1
print(dict1)

Enter a string :Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
# Task 12
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
counter1 = 0
counter2 = 0
for item in dict_1.values() :
    for value in item :
        counter1 += 1
    counter2 += counter1
    counter1 = 0
print(counter2)

9

In [ ]:
# Task 13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dict1 = {}
for item1, item2 in list_1:
    if item1 in dict1:
        dict1[item1].append(item2)
    else:
        dict1[item1] = [item2]
print(dict1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
# Task 14
dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}
for i in dict1:
    j = 0
    k = 22
    while j < 5:
        if j % 2 == 0:
            k = dict1[i] + j - (8 + k % 6) / 3
            dict1[i] = dict1[i]+ int(k)
        else:
            k = dict1[i] + j - (6 - k % 8) * 3
            dict1[i] = dict1[i] - int(k)
        j += 1
    print(int(k))
    print(i + " -> " + str(dict1[i]))

8
a -> 17
10
b -> 19
2
c -> 5
-7
d -> -14
2
e -> 5

In [ ]:
# Task 15
arr = [(2,3),(4,5),(6,7),(2,8)]
empty = []
for r in arr:
  empty.append(r[0]*r[1])
print(empty)

In [ ]:
# Task 16
word = input("Enter Something :")
arr = a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
for r in arr:
  r[len(r)-1] = word
print(arr)

In [ ]:
# Task 17
my_dictionary = {'c1': 'Red', 'c2': 'Green', 'c3': None, 'd4': 'Blue'}
keys = my_dictionary.key()
for r in keys:
  if my_dictionary[r] == None:
    del my_dictionary[r]
print(my_dictionary)

In [ ]:
# Task 18
range = input().strip().replace(" ","").split(",")
empt = {}
dictionary = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11}
for r in dictionary:
  if dictionary[r]>= int(range[0]) and dictionary[r]<= int(range[1]):
    empt[r] = dictionary[r]
print(empt)

In [ ]:
# Task 19
arr = [(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]
empt = {}
for r in arr:
  if r[1] not in empt:
    empt[r[1]] = [r]
  else:
    empt[r[1]].append(r)
print(empt)

In [ ]:
# Task 20