In [ ]:
# Task 1
var_1 = input('please enter the first number:')
var_2 = input('please enter the senter number:')
print(type(var_1))
print(type(var_2))
var_3 = int(var_1)
var_4 = int(var_2)
total = var_3 + var_4
product = var_3 * var_4
difference = var_3 - var_4
print("Sum =", total)
print("Product =", product)
print("Difference =", difference)

please enter the first number:4
please enter the senter number:5
<class 'str'>
<class 'str'>
Sum = 9
Product = 20
Difference = -1

In [ ]:
# Task 2
import math

radius = float(input("please enter the radius value:"))
area = math.pi * radius**2
print("Area is:",area)

area = math.pi * math.pow(radius, 2)
print("Area is : " , area)

area = math.pi * radius * radius
print("Area is:",area)

circ = 2 * math.pi * radius
print("Circumference is ",circ)

please enter the radius value:4
Area is: 50.26548245743669
Area is :  50.26548245743669
Area is: 50.26548245743669
Circumference is  25.132741228718345

In [ ]:
# Task 3
var_1=int(input("please enter the first number:"))
var_2=int(input("please enter the second number:"))

if var_1>var_2:
    print("First is greater")
elif var_1<var_2:
    print("Second is greater")
else :
    print("The numbers are equal")

please enter the first number:7
please enter the second number:3
First is greater

In [ ]:
# Task 4
var_1=int(input("please enter the first number:"))
var_2=int(input("please enter the second number:"))

if var_1>var_2:
    dif=var_1-var_2
    print("difference = ", dif)
elif var_1<var_2:
    dif=var_2-var_1
    print("difference = " , dif)

please enter the first number:-40
please enter the second number:-4
difference =  36

In [ ]:
# Task 5
num=int(input("enter the number"))

if num%2==0:
    print("The number is even")
elif num%2==1:
    print("The number is odd")

enter the number7
The number is odd

In [ ]:
# Task 6
num=int(input("enter the number"))
if num%2==0 or num%5==0 :
    print("your number is",num)
else : print("Not a multiple of 2 or 5")

enter the number5
your number is 5

In [ ]:
# Task 7
num = int(input('Enter the number :'))
if num%2 == 0 and num%5 == 0 :
    print("Multiple of 2 and 5 both")
elif num%2 != 0 and num%5 != 0 :
    print ("Not a multiple we want")
elif num%2 == 0 or num%5 == 0 :
    print("",num)

Enter the number :10
Multiple of 2 and 5 both

In [ ]:
# Task 8
num = int(input("please enter the number"))
if num%2 == 0 and num%5 == 0 :
    print("",num)
else :
    print("Not multiple of 2 and 5 both")

please enter the number15
Not multiple of 2 and 5 both

In [ ]:
# Task 9
num = int(input("please enter the number"))
hours = num//3600
num = num%3600
minutes = num//60
num = num%60
seconds = num
print("Hours : ", hours ,"Minutes : ", minutes ,"Seconds : ", seconds )

please enter the number10000
Hours :  2 Minutes :  46 Seconds :  40

In [ ]:
# Task 10
num = int(input("please enter the weekly work hour"))
if 0<=num<=168 :
    if num <= 40 :
        taka = num*200
        print ("",taka)
    elif num > 40 :
        extra = num - 40
        taka = 8000 + extra * 300
        print ("",taka)
elif num < 0 :
    print ("Hour cannot be negative")
elif num > 168 :
    print ("Impossible to work more than 168 hours weekly")

please enter the weekly work hour100
 26000

In [ ]:
# Task 11
S = int(input("please enter the value of S :"))
if S<100 :
    L = 3000 - 125 * S * S
    print ("",L)
elif S>=100 :
    L = 12000/(4+(S*S)/14900)
    print ("",L)

please enter the value of S :120
 2416.2162162162163

In [ ]:
# Task 12
time = int(input("please enter the time :"))
if 4<=time<=6 :
    print ("Breakfast")
elif 12<=time<=13 :
    print ("Lunch")
elif 16<=time<=17 :
    print ("Snacks")
elif 19<=time<=20 :
    print ("Dinner")
elif 0<=time<=23 :
    print ("Patience is a virtue")
else :
    print ("Wrong time")

please enter the time :0
Patience is a virtue

In [ ]:
# Task 13
mark = int(input("please enter your mark :"))
if 0<=mark<=100 :
    if mark>=90 :
      print ("A")
    elif 80<=mark<=89 :
        print ("B")
    elif 70<=mark<=79 :
        print ("C")
    elif 60<=mark<=69 :
        print ("D")
    elif 50<=mark<=59 :
        print ("E")
    elif mark<50 :
        print ("F")
else :
    print ("Invalid mark")

please enter your mark :83
B

In [ ]:
# Task 14
dist = float(input("please enter the distance :"))
time = float(input("please enter the time :"))
dist = dist / 1000
time = time / 3600
vel = dist / time
print (vel,"km/h")
if vel<60 :
    print ("Too slow. Needs more changes.")
elif 60<=vel<=90 :
    print ("Velocity is okay. The car is ready!")
elif vel>90 :
    print ("Too fast. Only a few changes should suffice.")

please enter the distance :25400
please enter the time :3600
25.4 km/h
Too slow. Needs more changes.

In [ ]:
# Task 15
cgpa = float(input("please enter your CGPA :"))
credit = float(input("please enter the number of credits completed :"))
if 4.00>=cgpa>=3.8 and credit >=30 :
    if cgpa == 4.00 :
        print ("The student is elligible for a waiver of 100 percent")
    elif 3.95<=cgpa<=3.99 :
        print ("The student is elligible for a waiver of 75 percent")
    elif 3.90<=cgpa<=3.94 :
        print ("The student is elligible for a waiver of 50 percent")
    elif 3.80<=cgpa<=3.89 :
        print ("The student is elligible for a waiver of 25 percent")
else :
    print ("The student is not elligible for a waiver")

please enter your CGPA :3.93
please enter the number of credits completed :50
The student is elligible for a waiver of 50 percent

In [ ]:
# Task 16
p = 5
q = 6
r = 9
sum = 0
if (p < 12):
    print(r + 2)
else:
    print(r + p)
if (q > 20):
    print(r + 19)
elif (q <= 6):
    print(q + 3)
else:
    print(p + q + r)
if (r > 15):
    print(r)
elif (r == 0):
    print(p + q)
else:
    print(p)
if (sum != 0):
    print(3)
else:
    print(sum + 32)
if (p>0 and r<10):
    print(p+r)
else:
    print(p-r)

11
9
5
32
14

In [ ]:
# Task 17
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = 4 > 3 - 1
var2 = var1 and False
var3 = True
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 or var2) and (8 * 10 > 45)
result2 = (var1 or var2) and (result1 and False)
result3 = (var1 and result1) or result2
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or var2) and not(result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (var5 or var6)) and True
result9 = ((result2 and var2) or (result7 and var1)) and False
result10 = not(var1 and True)

In [ ]:
# Task 18
var1 = False
var2 = False
var3 = False
var4 = False
var5 = False
var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = ((not True) or True) and False
var2 = var1 and False
var3 = True and not False
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 and var2) and (40 % 3) > 45 or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or (not var2)) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and ((not var5) or var6)) and True
result9 = ((result2 and var2) or ((not result7) and var1)) and not False
result10 = not(var1 and True)

In [ ]:
# Task 19
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = result2 = result3 = result4 = result5 = result6 = False
result7 = result8 = result9 = result10 = False
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 and var2) and ( 40 % 3 > 45) or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or not var2) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (not var5 or var6)) and True
result9 = ((result2 and var2) or (not result7 and var1)) and not False
result10 = not (var1 and True)

In [ ]:
# Task 20
num = int(input("please enter the number :"))
if num%2 != 0 and num%5 !=0 :
    print ("",num)
else :
    print ("No")

please enter the number :5
No

In [ ]:
# Task 21
num = int(input("please enter the number :"))
if num%2 != 0 or num%5 != 0 :
    print ("",num)
else :
    print ("No")

please enter the number :12
 12

In [ ]:
# Task 22
num1 = int(input("please enter the number of canvas :"))
num2 = int(input("please enter the number of paint tube :"))
total = num1*120 + num2*75
print ("Previous total: ",total)
if 0<=total<=299 :
    print ("New total after discount: ",total)
elif 300<=total<=499 :
    total = total - 10
    print ("New total after discount: ",total)
elif 500<=total<=749 :
    total = total - 20
    print ("New total after discount: ",total)
elif 750<=total<=999 :
    total = total - 50
    print ("New total after discount: ",total)
elif total >=1000 :
    total = total - 150
    print ("New total after discount: ",total)

please enter the number of canvas :5
please enter the number of paint tube :8
Previous total:  1200
New total after discount:  1050

In [ ]:
# Task 23
temp = float(input("please enter the temperature in farenheit :"))
temp = (temp-32)*0.56
print (temp,"degrees C")
if temp<20 :
    print ("Winter")
elif 20<=temp<=25 :
    print ("Autumn")
elif 25<temp<30 :
    print ("Spring")
elif temp>=30 :
    print ("Summer")

please enter the temperature in farenheit :76
24.64 degrees C
Autumn