In [ ]:
# Task 1
def even_checker(funcn):
    if funcn % 2 == 0:
        print('Even!!')
    else:
        print('Odd!!')
even_checker(int(input('Enter a number :')))

Enter a number :5
Odd!!

In [ ]:
# Task 2
def fibonacci(funcn):
    var1=0
    var2=1
    print(var1,end=" ")
    print(var2,end=" ")
    for item in range(funcn):
        var3=var1+var2
        if var3<=funcn:
            print(var3,end=" ")
        var1=var2
        var2=var3
fibonacci(int(input('Enter a number :')))

Enter a number :5
0 1 1 2 3 5

In [ ]:
# Task 3
def foo_moo(number):
    if (number % 2 == 0) and (number % 3 == 0):
        return "FooMoo"
    elif number % 2 == 0:
        return "Foo"
    elif number % 3 == 0:
        return "Moo"
    else:
        return "Boo"
print(foo_moo(int(input("Enter a number: "))))

Enter a number: 5
Boo

In [ ]:
# Task 4
def function_name(funcn):
    upper = 0
    lower = 0
    for symbol in funcn:
        if symbol.isupper():
            upper += 1
        if symbol.islower():
            lower += 1
    print("No. of Uppercase characters: ", upper)
    print("No. of Lowercase Characters: ", lower)
function_name(input('Enter a string :'))

Enter a string :HaRRy PotteR
No. of Uppercase characters:  5
No. of Lowercase Characters:  6

In [ ]:
# Task 5
def calculate_tax(age, salary, current_job):
    if age < 18:
        return 0
    if current_job == 'PRESIDENT OF THE COMPANY':
        return 0
    if salary < 10000:
        return 0
    if 10000 <= salary <= 20000:
        return salary * 0.05
    else:
        return salary * 0.1
year = int(input('Enter your age :'))
money = int(input('Enter your salary :'))
job = input('Enter your job name :')
calculate_tax(year, money, job)

Enter your age :20
Enter your salary :18000
Enter your job name :assiatant manager

900.0

In [ ]:
# Task 6
def function_name(number):
    years = number // 365
    months = (number % 365) // 30
    days = (number % 365) % 30
    print(years,"years,",months,"months and",days,"days")
function_name(int(input("Input number of days: ")))

Input number of days: 4330
11 years, 10 months and 15 days

In [ ]:
# Task 7
def show_palindrome(number):
    answer = ''
    for item in range(1, number * 2):
        if item <= number:
            answer += str(item)
        else:
            answer += str(number * 2 - item)
    print(answer)
show_palindrome(int(input('Enter a number :')))

Enter a number :5
123454321

In [ ]:
# Task 8
def show_palindrome(number,seperator = "") :
    str1 = ""
    for item in range(1,number+1) :
        str1 += str(item) + seperator
    for item in range(number-1,0,-1) :
        str1 += str(item) +seperator
    return str1
def show_palindromic_triangle(number) :
    for item in range(1, number+1) :
        print(" "*(2*number-2*item),end="")
        print(show_palindrome(item, " "))
show_palindromic_triangle(int(input('Enter a number :')))

Enter a number :5
        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
# Task 9
import math
radius = float(input('Enter the radius :'))
def area_circumference_generator(rad):
    area = math.pi * rad * rad
    circ = 2 * math.pi * rad
    return (area, circ)
result = area_circumference_generator(radius)
print(result)
area, circ = area_circumference_generator(radius)
print("Area of the circle is", area, "and circumference is", circ)

Enter the radius :1.5
(7.0685834705770345, 9.42477796076938)
Area of the circle is 7.0685834705770345 and circumference is 9.42477796076938

In [ ]:
# task 10
num1 = int(input('Enter the starting point :'))
num2 = int(input('Enter the ending point :'))
def make_square(number) :
    square = {}
    for item in range(number[0], number[1] + 1) :
        square[item] = item ** 2
    return square
print(make_square((num1,num2)))

Enter the starting point :5
Enter the ending point :9
{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
# Task 11
def rem_duplicate(funcn):
	list1 = []
	for item in funcn:
		if item not in list1:
			list1.append(item)
	return tuple(list1)
print(rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2])))

('Hi', 1, 2, 3, 'a', [1, 2])

In [ ]:
# Task 12
def function_name(elements):
   output = []
   removed_items = 0
   for values in elements:
       if output.count(values) < 2 :
           output.append(values)
       else :
           removed_items += 1
   print("Removed :", removed_items)
   return output
print(function_name(([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])))

Removed : 2
[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
# Task 13
def function_name(operator,operand1,operand2) :
    if operator == '+' :
        return operand1 + operand2
    elif operator == '-' :
        return operand1 - operand2
    elif operator == '*' :
        return operand1 * operand2
    elif operator == '/' :
        return operand1 / operand2
operator,operand1,operand2 = input("Enter your operator :"), float(input("Enter the first operand :")), float(input("Enter the second operand :"))
print(function_name(operator,operand1,operand2))

Enter your operator :+
Enter the first operand :10
Enter the second operand :20
30.0

In [ ]:
# Task 14
def function_name(string, position):
    string1 = string[0]
    remove = " "
    for item in range(1, len(string)):
        if item % position == 0:
            remove = remove + string[item]
        else:
            string1 += string[item]
    string1 = string1 + remove
    return string1
print(function_name(input("Enter your text: "), int(input("Enter position: "))))

Enter your text: Python is easy to learn. I love python.
Enter position: 6
Pythonis eay to earn.I lov pythn.  sl eo

In [ ]:
# Task 15
def function_name(order_menu,location = "Dhanmondi") :
    items = {"rice": 105, "potato": 20, "chicken": 250, "beef": 510, "oil": 85}
    price = 0
    for value in order_menu :
        if value in items :
            price += items[value]
    if location != "Dhanmondi" and price != 0 :
        price += 70
    elif location == "Dhanmondi" and price != 0 :
        price += 30
    return price
order_items = []
for value in input("Enter your grocery items :").lower().split(",") :
    order_items.append(value.strip())
print(function_name(order_items))

Enter your grocery items :rice,beef,rice
750

In [ ]:
# Task 15
def function_name(order_menu,location = "Dhanmondi") :
    list1 = {"rice": 105, "potato": 20, "chicken": 250, "beef": 510, "oil": 85}
    price = 0
    for value in order_menu :
        for var1,var2 in list1.items() :
            if value == var1 :
                price += var2
    if location == "Mohakhali" :
        charge = 70
    else :
        charge = 30
    total = price + charge
    return total
print(function_name(['rice','beef','chicken']))

895

In [ ]:
# Task 16
nominals = (1000, 500, 100, 50, 20, 5, 1)
amount = int(input('amount = '))
output = {}
for n in nominals:
	output[n] = amount // n
	amount %= n
for k, v in output.items():
	print(k, v, sep=':')

In [ ]:
# Task 17
i=int(input('Enter element no: '))
list=[]
counter=0
while counter<i:
    num=int(input('Enter element: '))
    list.append(num)
    counter+=1

even_list=[]
def  removeOdd(even):
    for num in list:

        if int(num)%2==0:
            even_list.append(num)
        else:
            continue
    return even_list
print(removeOdd(even_list))

In [ ]:
# Task 18
def division(starting,ending,first_divisor,second_divisor):
    sum=0
    for i in range(starting,ending):
        if i%first_divisor==0 and i%second_divisor==0:
            continue
        elif i%first_divisor==0:
            sum=sum+i
        elif i % second_divisor == 0:
            sum = sum + i
    return sum
starting=int(input())
ending=int(input())
first_divisor=int(input())
second_divisor=int(input())

print(division(starting,ending,first_divisor,second_divisor))

In [ ]:
# Task 19
def stringTest(name):
    counter=0
    for char in usr_input:
        if char in list:
            counter+=1

    if counter>0:
        return 5
    else:
        return 6

usr_input=str(input())

list=['a','b','c','d','e','f','g','h','i','j']
stringTest(usr_input)
print('Chelsea is the best club in England \n'*stringTest(usr_input))

In [ ]:
# Task 20

In [ ]:
# Task 21
def footballClub(*args):

    if args[2]>30:
        bonus= args[2]*(args[3]/100 * args[1])+10000
        return bonus
    elif 20<args[2]<=30:
        bonus= args[2]*(args[3]/100 * args[1])+5000
        return bonus
    else:
        bonus= args[2]*(args[3]/100 * args[1])
        return bonus
print('Neymar earned a bonus of',int(footballClub('Neymar',1200000, 30, 10)),'Taka for 31 Goals')